# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/
Packages/

# Archives
*.xcarchive

# Code coverage
*.gcda
*.gcno
